<div class="right_col" role="main">
               <div class="">


<h1>Editar Autor</h1>

<%= render 'form', autor: @autor %> |

<%= link_to 'Show', @autor %> |
<%= link_to 'Back', autors_path %>
  </div>  </div>
