
<div class="right_col" role="main">
               <div class="">
<h1>NUEVO AUTOR</h1>

            <%= render 'form', autor: @autor %>
            
            
            <button type="submit" class="btn btn-success"><%= link_to 'Atras', autors_path %></button>
            
                 
             
    </div>
</div>



