

<div class="right_col" role="main">
       <div class="">
<p id="notice"><%= notice %></p>         
<h1>NUEVO AUTOR</h1>

           
           
            <%= render 'form' %>
            <button type="submit" class= "btn btn-round btn-warning "><%= link_to 'Atras', categorias_path %></button>
            
                 
             
</div>
</div>
