
<div class="right_col" role="main">
    <div class="">
<h1>Editing proyect</h1>

<%= render 'form' %>

<%= link_to 'Ver', @proyect, class: "btn btn-round btn-info" %> |
<%= link_to 'Atras', proyects_path, class: "btn btn-round btn-warning " %>
</div>
</div>
